body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    width:80%
}

.container {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: #333;
    padding:20px;
    color: white;
    border-bottom: 5px solid #444;
}

.header h2 {
    align-self: center;
    padding-left:20px;
    text-align: center;
}

.navbar {
    padding-right:20px;
    margin: 0;
    display:flex;
    text-align: center;
}

.navbar a {
    align-self:center;
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.navbar a:hover {
    color: gray;
}

.container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
}

.container .content .main{
    display:inline-flexbox;
    padding:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .content .main img {
    width:400px;
    height:200px;
}